
<div id="page_wrapper">
<h1>Edit Post</h1>
	<% if @post .errors.any?%>
		<div id="errors">
			<h2><%= pluralize(@post.errors.count, "Error")%> prevented this post from saving</h2>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
					<li><%= msg%></li>
				<% end%>	
			</ul>
		</div>
	<% end %>	
	<%= form_for(@post) do |f| %>
		<p>
			<%=f.label :Title %>
			<%=f.text_field :title %>
		</p>
		<p>
			<%= f.label :Body %>
			<%= f.text_area :body %>
		</p>
		<p>
			<%= f.submit %>
		</p>
	<% end %>
</div>	